[Desktop Entry]
Type=Application
Version=1.0
Name=Tempo admin production bravo
Comment=Tempo production bravo admin
Path=/home/sindri/bin/
Exec=tempo-admin-bravo
