[Desktop Entry]
Type=Application
Version=1.0
Name=Switch/Toggle headset profile
Comment=Toggle headset profile (a2dp/hsp)
Path=/home/sindri/bin/
Exec=/home/sindri/bin/hs.py
