[Desktop Entry]
Type=Application
Version=1.0
Name=Workspace: Home
Comment=Switch to workspace home
Path=/home/sindri/bin/
Exec=/home/sindri/bin/ws home
